.container-search {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #3f56b4;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.container-search input {
  display: inline-block;
  height: 25px;
  width: 250px;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 20px;
}

.container-search button {
  display: inline-block;
  height: 32px;
  border-radius: 3px;
  font-size: 20px;
  /* background-color: #DED06A; */
}

/* для картинок */
.photo-card {
  display: flex;
}

.info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 16px;
  background-color: #DED06A;
  border:1px solid  #3f56b4;
  box-shadow: 10px 15px 15px red;
}

.gallery__image{
  display: block;
}

.info-item {
   display: block;
   text-align: center; 
   
}

.gallery__item {
  width: calc((100% - 36px) / 4);
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 2px; 
}

.gallery__item img {
  width: 100%;
  height: 260px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 65px auto;
  gap:12px; 
  justify-content: flex-start;

  margin-bottom: 20px;
}

.container-btnLoadMore{
  display: block;
  text-align: center;
  margin-bottom: 100px;
  height: 50px;
  
}

.load-more{
  height: 100%;
  border-radius: 100px;
  border: none;
  background-color: inherit;
}

.loader {
   width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #3f56b4;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}